go 1.25.5

use (
	.
	cmd/embedded/http
	cmd/embedded/mobile
	cmd/embedded/tiny-chat
	cmd/embedded/tiny-http
	cmd/yggstack
	temp-new
	temp-new/cmd/embedded/http
	temp-new/cmd/embedded/mobile
	temp-new/cmd/embedded/tiny-chat
	temp-new/cmd/embedded/tiny-http
	temp-new/cmd/yggstack
)
